<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Auth.Mvc" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net48" />
  <package id="Google.Apis.YouTube.v3" version="1.60.0.3043" targetFramework="net48" />
  <package id="log4net" version="2.0.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.9" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>